{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO-Zaalreservatie biedt een gedetailleerd kader voor het beschrijven van zaalreservaties en de bijbehorende gegevens, gebruikmakend van een toepasselijk vocabularium, 
verrijkt met termen uit andere vocabularia.</p>

<p>De kern van dit profiel is de reservatie, die fungeert als centrale verbinding tussen publieke dienstverlening (zie <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienstencataloog/" target="_blank">OSLO-Dienstencataloog</a>) 
en infrastructuur (zie <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultuur-en-jeugd/infrastructuur/" target="_blank">OSLO-Cultuur-en Jeugdinfrastructuur</a>).</p>

<p>Een reservatie wordt vastgelegd door een Agent (zie <a href="https://data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/" target="_blank">OSLO-Generiek</a>) 
voor een specifieke Activiteit (zie <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultuurparticipatie/" target="_blank">OSLO-Cultuurparticipatie</a>), 
binnen een afgebakende periode en onder toevoeging van een bufferperiode en plaatsinformatie. 
Elke reservatie kent een status zoals aanvraag, in behandeling, of goedgekeurd, afhankelijk van de voortgang van de verwerking.</p>

<p>Deze infrastructuurreservatie is een onderdeel van de publieke dienstverlening,
met als verantwoordelijke een publieke organisatie (zie <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/" target="_blank">OSLO-Organisatie</a>). 
Deze organisatie beschikt over attributen zoals werkingsgebied, contactinformatie en voorkeursnaam, en fungeert als centrale beheerder van de infrastructuur.</p>

<p>Infrastructuur kent verschillende type attributen. Er is één verplicht attribuut, namelijk de locatie, omdat elk stuk infrastructuur ten minste één locatie moet hebben. 
Andere attributen zoals annuleringsvoorwaarden, bereikbaarheid, beschikbaarheid, eigenaarschap, openstelling en toegankelijkheid kunnen optioneel worden gedeeld en zijn niet altijd vereist.</p>

<p>Verder zijn er elementen die niet aanwezig hoeven te zijn, maar eventueel meerdere keren kunnen voorkomen. 
Deze omvatten documenten die aan de infrastructuur zijn gekoppeld, evenals capaciteit, contactpersoon, dimensie, faciliteit, gebruik, naam, toegang, infrastructuurtype en veiligheidsvereisten.</p>

<p>Een belangrijk kenmerk van infrastructuur is dat deze kan bestaan uit zowel Binnenruimtes als Buitenruimtes, zoals binnenzalen of terrassen. 
Dit biedt flexibiliteit bij het ontwerpen van de infrastructuur voor diverse soorten evenementen en activiteiten.</p>
{% endblock %}
