{% extends "voc2.j2" %}

{% block summary %}
<p> Dit vocabularium heeft als doel de informatie te standaardiseren in de context van zaalreservatie, gericht op het ontwikkelen van een gemeenschappelijk begrip van essentiële zaalreservatie-informatie. </p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
